services:
  - type: web
    name: meu-projeto-final
    plan: free
    
    buildCommand: |
      cd Backend
      chmod +x ./mvnw
      cd ../Frontend
      npm ci
      npm run build
      cd ../Backend
      rm -rf src/main/resources/static
      mkdir -p src/main/resources/static
      cp -r ../Frontend/dist/* src/main/resources/static/
      ./mvnw clean package -DskipTests

    startCommand: java -Dserver.port=$PORT -jar Backend/target/*.jar

    envVars:
      - key: JAVA_VERSION
        value: 17